
.not-alone{
    width: 100vw;
    height: 50vh;
    background: url('../../media/gallery/11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .not-alone-ovelay{
        width: 100%;
        height: 100%;
        background: #a5a5a555;
        display: grid;
        align-items: center;
        justify-items: center;
        @include media-query($small-phone){
            display: grid;
            align-items: center;
            justify-items: center;
        }
        h2{
            font-size: 55px;
            color: #fff;
            @include media-query($small-phone){
                font-size: 30px;

            }
        }
        
    }
}