@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.bg-navy {
  background-color: #001F3F;
}

.bg-blue {
  background-color: #0074D9;
}

.bg-aqua {
  background-color: #7FDBFF;
}

.bg-teal {
  background-color: #39CCCC;
}

.bg-olive {
  background-color: #3D9970;
}

.bg-green {
  background-color: #2ECC40;
}

.bg-lime {
  background-color: #01FF70;
}

.bg-yellow {
  background-color: #FFDC00;
}

.bg-orange {
  background-color: #FF851B;
}

.bg-red {
  background-color: #FF4136;
}

.bg-fuchsia {
  background-color: #F012BE;
}

.bg-purple {
  background-color: #B10DC9;
}

.bg-maroon {
  background-color: #85144B;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-gray {
  background-color: #AAAAAA;
}

.bg-silver {
  background-color: #DDDDDD;
}

.bg-black {
  background-color: #111111;
}

.navy {
  color: #001F3F;
}

.blue {
  color: #0074D9;
}

.aqua {
  color: #7FDBFF;
}

.teal {
  color: #39CCCC;
}

.olive {
  color: #3D9970;
}

.green {
  color: #2ECC40;
}

.lime {
  color: #01FF70;
}

.yellow {
  color: #FFDC00;
}

.orange {
  color: #FF851B;
}

.red {
  color: #FF4136;
}

.fuchsia {
  color: #F012BE;
}

.purple {
  color: #B10DC9;
}

.maroon {
  color: #85144B;
}

.white {
  color: #FFFFFF;
}

.silver {
  color: #DDDDDD;
}

.gray {
  color: #AAAAAA;
}

.black {
  color: #111111;
}

.border--navy {
  border-color: #001F3F;
}

.border--blue {
  border-color: #0074D9;
}

.border--aqua {
  border-color: #7FDBFF;
}

.border--teal {
  border-color: #39CCCC;
}

.border--olive {
  border-color: #3D9970;
}

.border--green {
  border-color: #2ECC40;
}

.border--lime {
  border-color: #01FF70;
}

.border--yellow {
  border-color: #FFDC00;
}

.border--orange {
  border-color: #FF851B;
}

.border--red {
  border-color: #FF4136;
}

.border--fuchsia {
  border-color: #F012BE;
}

.border--purple {
  border-color: #B10DC9;
}

.border--maroon {
  border-color: #85144B;
}

.border--white {
  border-color: #FFFFFF;
}

.border--gray {
  border-color: #AAAAAA;
}

.border--silver {
  border-color: #DDDDDD;
}

.border--black {
  border-color: #111111;
}

/* Fills for SVG */
.fill-navy {
  fill: #001F3F;
}

.fill-blue {
  fill: #0074D9;
}

.fill-aqua {
  fill: #7FDBFF;
}

.fill-teal {
  fill: #39CCCC;
}

.fill-olive {
  fill: #3D9970;
}

.fill-green {
  fill: #2ECC40;
}

.fill-lime {
  fill: #01FF70;
}

.fill-yellow {
  fill: #FFDC00;
}

.fill-orange {
  fill: #FF851B;
}

.fill-red {
  fill: #FF4136;
}

.fill-fuchsia {
  fill: #F012BE;
}

.fill-purple {
  fill: #B10DC9;
}

.fill-maroon {
  fill: #85144B;
}

.fill-white {
  fill: #FFFFFF;
}

.fill-gray {
  fill: #AAAAAA;
}

.fill-silver {
  fill: #DDDDDD;
}

.fill-black {
  fill: #111111;
}

/* Strokes for SVG */
.stroke-navy {
  stroke: #001F3F;
}

.stroke-blue {
  stroke: #0074D9;
}

.stroke-aqua {
  stroke: #7FDBFF;
}

.stroke-teal {
  stroke: #39CCCC;
}

.stroke-olive {
  stroke: #3D9970;
}

.stroke-green {
  stroke: #2ECC40;
}

.stroke-lime {
  stroke: #01FF70;
}

.stroke-yellow {
  stroke: #FFDC00;
}

.stroke-orange {
  stroke: #FF851B;
}

.stroke-red {
  stroke: #FF4136;
}

.stroke-fuchsia {
  stroke: #F012BE;
}

.stroke-purple {
  stroke: #B10DC9;
}

.stroke-maroon {
  stroke: #85144B;
}

.stroke-white {
  stroke: #FFFFFF;
}

.stroke-gray {
  stroke: #AAAAAA;
}

.stroke-silver {
  stroke: #DDDDDD;
}

.stroke-black {
  stroke: #111111;
}

.container {
  width: 90%;
  margin: auto;
}

.container-fluid {
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.ml-auto {
  margin-left: auto;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

.mr-auto {
  margin-right: auto;
}

.mr-1 {
  margin-right: 10p;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.mt-auto {
  margin-top: auto;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.mx-auto {
  margin: auto;
}

.mx-1 {
  margin: 0 10px;
}

.mx-2 {
  margin: 0 20px;
}

.mx-3 {
  margin: 0 30px;
}

.mx-4 {
  margin: 0 40px;
}

.mx-5 {
  margin: 0 50px;
}

.my-auto {
  margin: auto;
}

.my-1 {
  margin: 10px 0;
}

.my-2 {
  margin: 20px 0;
}

.my-3 {
  margin: 30px 0;
}

.my-4 {
  margin: 40px 0;
}

.my-5 {
  margin: 50px 0;
}

.pl-auto {
  padding-left: auto;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 50px;
}

.pr-auto {
  padding-right: auto;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-5 {
  padding-right: 50px;
}

.pt-auto {
  padding-top: auto;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pb-auto {
  padding-bottom: auto;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.px-auto {
  padding: auto;
}

.px-1 {
  padding: 0 10px;
}

.px-2 {
  padding: 0 20px;
}

.px-3 {
  padding: 0 30px;
}

.px-4 {
  padding: 0 40px;
}

.px-5 {
  padding: 0 50px;
}

.py-auto {
  padding: auto;
}

.py-1 {
  padding: 10px 0;
}

.py-2 {
  padding: 20px 0;
}

.py-3 {
  padding: 30px 0;
}

.py-4 {
  padding: 40px 0;
}

.py-5 {
  padding: 50px 0;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Righteous', cursive;
}

.btn:hover {
  -webkit-box-shadow: 4px 4px 5px #000;
          box-shadow: 4px 4px 5px #000;
  -webkit-animation: btn .2s ease-in-out;
          animation: btn .2s ease-in-out;
}

.btn-bluelight {
  background: #1aafff;
  border: none;
}

@-webkit-keyframes btn {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes btn {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #a8a6a6;
}

.navbar {
  padding: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 770px) {
  .navbar {
    padding: 2px 0;
  }
}

.navbar:after {
  content: "";
  display: table;
  clear: both;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-light {
  background: #f2f2f2;
  color: #333333;
}

.navbar-dark {
  background-color: #0d0d0d;
  color: #cccccc;
}

.navbar-purple {
  background: #5f26a0f3;
  color: #fff;
}

.navbar-sticky {
  position: -webkit-sticky;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  -webkit-transition: 2s;
  transition: 2s;
}

.navbar-social {
  padding-left: 20px;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 2fr;
  grid-template-columns: 2fr 4fr 2fr;
  -webkit-transition: 5s ease;
  transition: 5s ease;
}

@media screen and (max-width: 770px) {
  .navbar-social {
    -ms-grid-columns: 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr 2fr;
    display: none;
  }
}

.social-logo {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 13px;
  text-align: right;
  margin-right: 30px;
}

@media screen and (max-width: 770px) {
  .social-logo {
    font-size: 10px;
  }
}

@media screen and (max-width: 770px) and (max-width: 480px) {
  .social-logo {
    font-size: 8px;
  }
}

.social-icon {
  margin-left: 50px;
}

@media screen and (max-width: 480px) {
  .social-icon {
    display: none;
  }
}

.social-icon a {
  text-decoration: none;
}

.social-icon a img {
  width: 20px;
  padding: 0 2px;
  margin: 0 5px;
}

@media screen and (max-width: 480px) {
  .social-icon a img {
    display: none;
  }
}

.search {
  line-height: 20px;
  display: inline;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.search input {
  border-radius: 20px;
  border: none;
  height: 20px;
  width: 200px;
  padding: 0 0 0 30px;
  display: none;
}

@media screen and (max-width: 770px) {
  .search input {
    width: 170px;
  }
}

@media screen and (max-width: 770px) and (max-width: 480px) {
  .search input {
    width: 150px;
  }
}

.search svg {
  width: 15px;
  fill: #fff;
  position: relative;
  cursor: pointer;
}

.search:hover input {
  display: inline;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.navbar-nav {
  padding: 0 30px;
}

@media screen and (max-width: 480px) {
  .navbar-nav {
    padding: 0 20px;
  }
}

.navbar-nav .logo {
  float: left;
  margin-left: 30px;
}

.navbar-nav .logo img {
  width: 40px;
}

@media screen and (max-width: 480px) {
  .navbar-nav .logo img {
    width: 30px;
  }
}

.navbar-nav nav {
  float: right;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

@media screen and (max-width: 480px) {
  .navbar-nav nav {
    padding: 0 20px;
  }
}

.navbar-nav nav img {
  width: 20px;
  display: none;
  margin-top: 7px;
}

@media screen and (max-width: 480px) {
  .navbar-nav nav img {
    display: block;
  }
}

.navbar-nav nav ul {
  list-style: none;
  padding: 0px 0 0 0;
}

@media screen and (max-width: 480px) {
  .navbar-nav nav ul {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
  }
}

.navbar-nav nav ul li {
  display: inline;
}

@media screen and (max-width: 480px) {
  .navbar-nav nav ul li {
    background: #282828;
    display: block;
    padding: 10px 20px;
    border: 1px solid;
    background: #131313;
  }
}

.navbar-nav nav ul li a {
  text-decoration: none;
  margin: 0 7px;
  color: #fff;
  font-family: 'Bellota', cursive;
  font-size: 20px;
}

.navbar-nav nav:hover {
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.navbar-nav nav:hover ul {
  display: block;
}

.home {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 70vh;
  background-image: url("../../media/gallery/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home .home-inner {
  display: inherit;
  justify-items: center;
}

.home .home-inner h3 {
  color: #fff;
  font-size: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .home .home-inner h3 {
    font-size: 19px;
  }
}

.home .home-inner .button {
  display: inline-block;
  padding: 15px;
  background: #517bf8;
  color: #fff;
  border: none;
  margin-top: 30px;
}

#about {
  padding-top: 30px;
  padding: 60px 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

@media screen and (max-width: 770px) {
  #about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    padding: 60px 10px;
  }
}

@media screen and (max-width: 480px) {
  #about {
    margin: 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#about .about-logo {
  margin-left: 50px;
}

@media screen and (max-width: 770px) {
  #about .about-logo {
    display: none;
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  #about .about-logo {
    display: none;
  }
}

#about .about-logo img {
  width: 200px;
}

#about .about-info {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 770px) {
  #about .about-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  #about .about-info {
    margin: auto;
    width: 100%;
  }
}

#about .about-info div {
  display: -ms-grid;
  display: grid;
}

#about .about-info div h3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 35px;
  padding: 30px 0 0 0;
}

@media screen and (max-width: 770px) {
  #about .about-info div h3 {
    font-size: 30px;
    padding: 20px 0;
  }
}

#about .about-info div q {
  font-size: 26px;
  font-style: italic;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 770px) {
  #about .about-info div q {
    font-size: 20px;
  }
}

@media screen and (max-width: 770px) and (max-width: 480px) {
  #about .about-info div q {
    padding-left: 17px;
    font-size: 18px;
  }
}

#about .about-info div p {
  font-size: 20px;
  font-family: 'Baloo Chettan 2', cursive;
}

@media screen and (max-width: 770px) {
  #about .about-info div p {
    font-size: 18px;
  }
}

#about .about-info .us {
  padding: 0 30px;
}

.not-alone {
  width: 100vw;
  height: 50vh;
  background: url("../../media/gallery/11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.not-alone .not-alone-ovelay {
  width: 100%;
  height: 100%;
  background: #a5a5a555;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.not-alone .not-alone-ovelay h2 {
  font-size: 55px;
  color: #fff;
}

.media {
  background-image: url("../../media/gallery/10.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.media .media-overlay {
  width: 100%;
  height: 100%;
  background: #a5a5a594;
  padding: 50px 0;
}

@media screen and (max-width: 770px) {
  .media .media-overlay {
    padding: 30px;
  }
}

.media .media-overlay h1 {
  padding: 30px 0;
  text-align: center;
  color: #fff;
  font-size: 55px;
  font-weight: 150;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (max-width: 770px) {
  .media .media-overlay h1 {
    font-size: 40px;
  }
}

.media .media-overlay .over-overlay {
  position: fixed;
  right: 0;
  top: 20;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.media .media-overlay .over-overlay .inner_overlay {
  background: #fff;
  padding: 0 12px 9px 12px;
  max-width: 700px;
}

@media screen and (max-width: 480px) {
  .media .media-overlay .over-overlay .inner_overlay {
    max-width: 98%;
  }
}

.media .media-overlay .over-overlay .inner_overlay .close {
  cursor: pointer;
}

.media .media-overlay .over-overlay .inner_overlay img {
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 500px;
}

@media screen and (max-width: 480px) {
  .media .media-overlay .over-overlay .inner_overlay img {
    max-width: 99%;
  }
}

.media .media-overlay .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.media .media-overlay .gallery .item {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
}

.media .media-overlay .gallery .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.media .media-overlay .gallery .item .item_overlay {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  position: grid;
  background: #f3ef118c;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.media .media-overlay .gallery .item .item_overlay button {
  padding: 5px;
  font-size: 14px;
  background: #11101042;
  color: #ffff;
  border: solid 2px #FFF;
}

.media .media-overlay .gallery .item:hover .item_overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.media .media-overlay .gallery .h2 {
  grid-row: span 2;
}

.media .media-overlay .gallery .h3 {
  grid-row: span 3;
}

.media .media-overlay .gallery .h4 {
  grid-row: span 4;
}

.media .media-overlay .gallery .v2 {
  grid-column: span 2;
}

.media .media-overlay .gallery .v3 {
  grid-column: span 3;
}

.media .media-overlay .gallery .v4 {
  grid-column: span 4;
}

.routes {
  width: 100vw;
  width: 97%;
  margin: auto;
}

.routes h1 {
  font-weight: 200;
  font-size: 35px;
  text-align: center;
  margin: 30px 0;
  text-transform: capitalize;
}

.routes .routes-container {
  display: block;
  overflow: hidden;
}

.routes .routes-container .column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.routes .routes-container .column .routes-img {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
}

.routes .routes-container .column .routes-img .img {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.routes .routes-container .column .routes-img .routes-overlay {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  grid-row: 1/1;
  background: #4b2f2f70;
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: 30px;
  color: white;
}

.routes .routes-container .column .routes-explanation {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
}

.routes .routes-container .column .routes-explanation .routes-explanation-container {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  display: inherit;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.routes .routes-container .column .routes-explanation .routes-explanation-container h3 {
  font-size: 40px;
  font-weight: 150;
  text-align: center;
  padding: 40px 0 20px 0;
  color: 000;
}

.routes .routes-container .column .routes-explanation .routes-explanation-container-overlay {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 1;
  grid-column: 1/1;
  background: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.routes .routes-container .column .routes-explanation .routes-explanation-container-overlay .rates {
  width: 100%;
  padding: 20px 0;
  text-align: right;
  padding-right: 20px;
}

.routes .routes-container .column .routes-explanation .routes-explanation-container-overlay .rates img {
  width: 20px;
  display: inline-block;
}

.routes .routes-container .column .routes-explanation .routes-explanation-container-overlay h3 {
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
}

.routes .routes-container .column .routes-explanation .routes-explanation-container-overlay p {
  padding: 30px;
  line-height: 1.5em;
  text-align: justify;
  font-size: 20px;
}

.routes .routes-container .column .routes-explanation .routes-explanation-container-overlay .read-more ul {
  float: right;
  list-style: none;
}

.routes .routes-container .column .routes-explanation .routes-explanation-container-overlay .read-more ul span {
  margin-bottom: 30px;
  position: relative;
  bottom: 20px;
}

.routes .routes-container .column .routes-explanation .routes-explanation-container-overlay .read-more ul li {
  display: inline;
  padding: 0 5px;
}

.routes .routes-container .column .routes-explanation .routes-explanation-container-overlay .read-more ul li a img {
  width: 50px;
}

.routes .routes-container .column:hover .routes-img .routes-overlay {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.routes .routes-container .column:hover .routes-explanation .routes-explanation-container-overlay {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.contact {
  background-color: #292929;
  padding: 86px 0;
  margin: 0;
}

.contact .contact-wrapper h1 {
  text-align: center;
  padding: 0px 0 80px 0;
  color: #fff;
  font-size: 40px;
  color: #aaba00;
}

@media screen and (max-width: 770px) {
  .contact .contact-wrapper h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .contact .contact-wrapper h1 {
    font-size: 20px;
  }
}

.contact .contact-wrapper .contact-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 770px) {
  .contact .contact-wrapper .contact-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 50px;
  }
}

.contact .contact-wrapper .contact-container .contact-form {
  display: inherit;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 0 50px;
}

@media screen and (max-width: 770px) {
  .contact .contact-wrapper .contact-container .contact-form {
    padding: 30px 0;
  }
}

.contact .contact-wrapper .contact-container .contact-form div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  margin: 10px 0;
  background: #1f1d1dcb;
  color: white;
}

.contact .contact-wrapper .contact-container .contact-form div label {
  margin-top: 5px;
  margin-left: 5px;
}

.contact .contact-wrapper .contact-container .contact-form div input, .contact .contact-wrapper .contact-container .contact-form div textarea {
  background-color: #000000;
  border: none;
  color: #ffffff;
  padding: 10px;
}

.contact .contact-wrapper .contact-container .location {
  background: #1f1d1dcb;
  margin: 0 90px 0 30px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 770px) {
  .contact .contact-wrapper .contact-container .location {
    padding: 20px;
    margin: 0;
  }
}

.contact .contact-wrapper .contact-container .location .location-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  width: 80%;
  margin: 0px auto;
}

@media screen and (max-width: 770px) {
  .contact .contact-wrapper .contact-container .location .location-container {
    margin: 10px 0;
  }
}

.contact .contact-wrapper .contact-container .location .location-container .icon img {
  width: 20px;
}

@media screen and (max-width: 770px) {
  .contact .contact-wrapper .contact-container .location .location-container .icon img {
    width: 17px;
  }
}

.contact .contact-wrapper .contact-container .location .location-container .content {
  color: #fff;
  font-size: 20px;
}

@media screen and (max-width: 770px) {
  .contact .contact-wrapper .contact-container .location .location-container .content {
    font-size: 18px;
  }
}

.contact .contact-wrapper .contact-container .location .location-container .content ul {
  margin-top: -30px;
  list-style: none;
}

@media screen and (max-width: 770px) {
  .contact .contact-wrapper .contact-container .location .location-container .content ul {
    margin: -10px;
  }
}

.contact .contact-wrapper .contact-container .location .location-container .content ul li {
  margin: 10px 0;
}

.footer {
  width: 100vw;
  padding: 0;
  background: #c40add;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .footer-overlay {
  width: 100%;
  height: 100%;
  background: #161618cc;
  padding: 70px;
}

.footer .footer-overlay .inner-footer {
  width: 90%;
  margin: auto;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 1fr 2fr;
}

@media screen and (max-width: 770px) {
  .footer .footer-overlay .inner-footer {
    width: 94%;
    overflow-x: hidden;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-left: 60px;
  }
}

.footer .footer-overlay .inner-footer .logo {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  justify-items: center;
}

@media screen and (max-width: 770px) {
  .footer .footer-overlay .inner-footer .logo {
    margin: 20px 0;
    display: block;
  }
}

.footer .footer-overlay .inner-footer .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
}

@media screen and (max-width: 770px) {
  .footer .footer-overlay .inner-footer .logo img {
    width: 80px;
    margin-left: 20px;
  }
}

.footer .footer-overlay .inner-footer .link1 h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 10px;
}

@media screen and (max-width: 770px) {
  .footer .footer-overlay .inner-footer .link1 h1 {
    font-size: 18px;
  }
}

.footer .footer-overlay .inner-footer .link1 ul {
  padding: 10px 10px;
  list-style: none;
}

@media screen and (max-width: 770px) {
  .footer .footer-overlay .inner-footer .link1 ul {
    padding: 10px 20px;
    font-style: italic;
  }
}

.footer .footer-overlay .inner-footer .link1 ul li {
  padding: 5px 0;
}

.footer .footer-overlay .inner-footer .link1 ul li a {
  text-decoration: none;
  color: #ffffff;
}

.footer .footer-overlay .inner-footer .link2 h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 10px;
}

@media screen and (max-width: 770px) {
  .footer .footer-overlay .inner-footer .link2 h1 {
    font-size: 18px;
  }
}

.footer .footer-overlay .inner-footer .link2 ul {
  padding: 10px 10px;
  list-style: none;
}

@media screen and (max-width: 770px) {
  .footer .footer-overlay .inner-footer .link2 ul {
    padding: 10px 20px;
    font-style: italic;
  }
}

.footer .footer-overlay .inner-footer .link2 ul li {
  padding: 5px 0;
}

.footer .footer-overlay .inner-footer .link2 ul li a {
  text-decoration: none;
  color: #ffffff;
}

.footer .footer-overlay .inner-footer .social-net h1 {
  text-transform: capitalize;
  font-size: 20px;
}

@media screen and (max-width: 770px) {
  .footer .footer-overlay .inner-footer .social-net h1 {
    font-size: 18px;
  }
}

.footer .footer-overlay .inner-footer .social-net ul {
  padding: 10px;
  list-style: none;
}

@media screen and (max-width: 770px) {
  .footer .footer-overlay .inner-footer .social-net ul {
    padding: 10px 20px;
    font-style: italic;
  }
}

.footer .footer-overlay .inner-footer .social-net ul li {
  padding: 3px 0;
  display: inline-block;
  padding: 0 7px;
}

.footer .footer-overlay .inner-footer .social-net ul li a {
  text-decoration: none;
  color: #ffffff;
}

.footer .footer-overlay .inner-footer .social-net ul li a img {
  width: 20px;
}

.back-to-top {
  position: fixed;
  padding: 4px 15px;
  bottom: 200px;
  right: 30px;
  background: #444444;
  border-radius: 50%;
  display: none;
}

@media screen and (max-width: 480px) {
  .back-to-top {
    padding: 3px 13px;
  }
}

.back-to-top img {
  width: 20px;
}

@media screen and (max-width: 770px) {
  .back-to-top img {
    width: 15px;
  }
}

.back-to-top:hover {
  background: #333333;
}
/*# sourceMappingURL=main.css.map */